/* ====================================
   Fonte personalizada da Google Fonts
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Remove sublinhado dos links e define cor preta */
a {
    text-decoration: none;

    color: #000000;

}


/* ====================================
                  BODY
==================================== */
body {
    /* Evita rolagem horizontal */
    overflow-x: hidden;

    /* Remove margens padrão */
    margin: 0;

    /* Define fonte */
    font-family: 'Poppins', sans-serif;

    /* Define cor de fundo translúcida */
    background: #a19286bb;

}


/* ====================================
        Header (topo do site)
==================================== */
.header {
    /* Flexbox para layout horizontal */
    display: flex;

    /* Espaça itens */
    justify-content: space-between;

    /* Centraliza verticalmente */
    align-items: center;

    /* Espaçamento interno */
    padding: 1rem 2rem;

    background-color: #9a5833;

    /* Posicionamento relativo para futuros posicionamentos absolutos */
    position: relative;

}

/* ====================================
                  LOGO
==================================== */
.logo {

    width: 11%;

}

/* ====================================
            Navegação (menu)
==================================== */
.nav-box {
    background: rgba(255, 255, 255, 0.08);

    /* Efeito de vidro fosco */
    backdrop-filter: blur(10px);

    /* Arredonda as bordas */
    border-radius: 16px;

    padding: 0.6rem 1.2rem;

    /* Aplica sombra a div */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


/* Lista de navegação em linha */
.nav-list {
    list-style: none;

    display: flex;

    gap: 1.5rem;

    margin: 0;

    padding: 0;
}


/* Estilo dos links do menu */
.nav-item {
    color: #000000;

    text-decoration: none;

    font-size: 1.6rem;

    font-weight: 600;

    padding: 0.4rem 0.8rem;

    border-radius: 8px;

    transition: all 0.3s ease;
}


/* Estilo hover dos links do menu */
.nav-item:hover {
    background: rgba(255, 255, 255, 0.15);

    color: #000000;
}


.contatos{
    margin-left: 20%;
}

.subtitulo{
    margin-left: 20%;
}

/*Formulário*/
form{
	margin-top: 20px;
	margin-left: 20%;
    margin-bottom: 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
fieldset{
	width: 75%;
	padding-left: 5%;
	margin-bottom: 2%;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 85%;
}
.chk{
	margin: 20px 0;
}
.enviar{
    margin-left: 24%;
	width: 27%;
	padding: 15px 0;
    margin-bottom: 25px;
	background: #9a5833;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover{
	background: #9a5833;
	transform: scale(1.06);
}

/*Div do retorno do formulário*/
.divRetorno{
    display: none;
    margin-bottom: 15px;
}
.divRetorno p{
    font-size: 24px;
}

.inputs {
    border-radius: 5.5px;
    border: none;
    padding: 10px;
}

/*============================
            FOOTER
=============================*/
footer {

    /* Imagem de fundo */
    background: url("../img/banner.png");
  
    /* Cor escura por cima */
    background-color: rgba(0, 0, 0, 0.3);
  
    /* Mescla escurecendo */
    background-blend-mode: darken;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    gap: 15px;
}
/*logo do footer*/
footer img {
    width: 12%;
}

/*links do footer*/
.links_footer {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 20px;
}

.links_footer p {
    margin: 0;
}

.icon-whats {
    color: green;
}

.icon-insta {
    color: #e4006a;
}

.links_footer a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

/*Grupo*/
.grupo {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.grupo a {
    color: white;
    transition: 0.3s linear;
}

.grupo a:hover {
    color: #9a5833;
}

  
/* ====================================
   Scrollbar personalizada (WebKit)
==================================== */

/* Largura e altura da barra */
::-webkit-scrollbar {

    width: 12px;
  
    height: 12px;
  
  }
  
  
  /* Trilha (fundo da barra) */
  ::-webkit-scrollbar-track {
  
    background: transparent;
  
  }
  
  
  /* Polegar (a parte que se move) */
  ::-webkit-scrollbar-thumb {
  
    background-color: #9a5833;
  
    border-radius: 100px;
  
    height: 20px;
  
    width: 20px;
  
    transition: all 0.3s ease;
  
}
  
/* Efeito hover na barra */
::-webkit-scrollbar-thumb:hover {
  
    background-color: #b76a3c;
  
    transform: scale(1.4);
  
}